.service {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    flex: 1;

    &__tab {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
    }
}
